.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 1em;
    margin-bottom: 2em;
    width: 23%;
    border-radius: 1em;
    border: 2px solid #E33D33;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.5);
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 1280px) {
    .card{
        width: 31%;
    }   
}
@media screen and (max-width: 950px) {
    .card{
        width: 48%;
    }   
}
@media screen and (max-width: 620px) {
    .card{
        width: 100%;
    }   
}

.card:hover{
    transform: scale(1.1);
}

.card p{
    margin: 1em 0;
    background-color: #E33D33;
    border-radius: 5px;
    padding: 5px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card h3{
    text-transform: capitalize;
    margin-bottom: 1em;
    font-size: 1.4em;
}

.card a{
    text-decoration: none;
    background-color: #333;
    color: #FFF;
    padding: 0.7em 1.2em;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.4s;
}

.card a:hover{
    background-color: #E33D33;
}